:root {
  --primarycolor: #2d2d2d;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primarycolor);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--primarycolor);
  padding: 10px;
}

th,
tr th:nth-child(1),
tr td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--primarycolor);
  border-radius: 0;
  border-bottom: 10px solid var(--primarycolor);
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: var(--primarycolor);
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}
